body {
    display: flex;
    flex-direction:column;
    margin: 0px;
}

img {
    width: 400px;
    height: auto;
}

.header {
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.heros-img1 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.head-hero  {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.heros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 600px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.hero-text {
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.hero-button {
    margin: 0px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 5px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 10px;
    border: none;
}

.img1-head {
    width: 650px;
    height: auto;
}

.hero-text, ul {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: flex-start;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links  {
    align-self: flex-end;
    display: flex;
}

.rinfo {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rinfo-head {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #1F2937;
}

.rinfo-images {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.img1-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
}

.img1 {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.text1 {
    display: block;
}

.img2-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;

}

.img2 {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.text2 {
    display: block;
}

.img3-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
}

.img3 {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.text3 {
    display: block;
}

.img4-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
}

.img4 {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.text4 {
    display: block;
}

.quote {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote-text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-quote {
    margin-right: 10%;
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.action {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.action-blue {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.action-text {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.action-h2 {
    color: #F9FAF8;
    margin: 0px;
}

.action-p {
    color: #F9FAF8;
    margin: 0px;
}

.action-button {
    margin: 50px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 5px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 10px;
    border-style: solid;
    border-color: #F9FAF8;
    background-color: #3882F6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}