body {
    display: flex;
    flex-direction:column;
    margin: 0px;
    padding: 0px;
}

img {
    width: 400px;
    height: auto;
}

.header {
    background-color: #1F2937;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text, ul {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-top {
    display: flex;
    flex-direction: column;
    border: solid red;
}

.links  {
    align-self: flex-end;
}






.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}